h1, h2 {
    text-align: center;
}

.hands {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.result {
    text-align: center;
}

#computer-hand {
    max-width: 200px;
    margin-bottom: 20px;
}

#round-result {
    font-size: 1.5em;
}

#total-wins {
    font-size: 2em;
}
